body{
    font-family: Roboto;
    color: #212121;
}


* {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


/* Logo Section */
.logowebstudio{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
text-decoration: none;
}

.logowebstudio::after{
    content: "studio";
    color: black;
}

.logo-webstudio-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    margin-bottom:28px;
    margin-top:60px;
    
    }
    
    .logo-webstudio-footer::after{
        content: 'studio';
        color:#FFFFFF;
    }
    
/* Studio */

.efective-section{
    height: 600px;
    display: flex;
    justify-content: center;
}

.efective-section{
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.1)),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.1)), url(../Images/backgroundphoto.jpg);
    background-repeat: no-repeat;
    

}

.efective-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-color{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.unstyled-list{
    list-style: none;
}

.right-navigation-list{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.contact-mail,
.contact-phone{
color: black;
text-decoration: none;
font-weight: 500;
line-height: 1.42;
letter-spacing: 0.02em;
text-decoration: none;
}

.contact-mail:hover,
.contact-phone:hover{
    color: #2196F3;
}

.navigation-list .link-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.link-button{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
border: none;

}

.link-button:hover{
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: #FFFFFF;
cursor: pointer;
}

.link-button:focus{
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;

} 
 
.request-botton{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
display: flex;
align-items: center;
text-align: center;
padding: 10px 19px 10px 20px;
margin-top: 30px;
}

.abilities-section {
    display: flex;
    justify-content: center;
}

.abilities-container {
    display: flex;
    flex-direction: column;
}

.abilities {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.abilities li {
    width: 270px;
}

.abilities li h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.abilities li p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;
    color: #757575;
}

.what-we-do-section {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.what-we-do-container {
    display: flex;
    flex-direction: column;
}

.what-we-do-photo {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.title-what-we-do, 
.title-our-team {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.title-what-we-do, 
.title-our-team {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.our-team-section {
    display: flex;
    background: #F5F4FA;
    justify-content: center;
}

.our-team-container {
    display: flex;
    flex-direction: column;
}

.title-our-team {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.our-team-photo {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.our-team-photo li h3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.our-team-photo li p{
    display: flex;
    justify-content: center;
    color: #757575;
}

.border-line2{
box-sizing: border-box;
Width: 270px;
Height: 428px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
border-top: 0;
padding-top: 0;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
footer {
background: #2F303A;
text-decoration: none;
}

.right-navigation-list .link-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-style:hover {
    color: #2196F3;
}

.link-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4,0,0.2,1);
}



/* Portofolio */

.header-section{
display: flex;
justify-content: center;
width: 100%;
height: 80px;
border-bottom: 1px solid #ECECEC;
}

.container{
    width: 1200px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation{
    display: flex;
    flex-grow: 1;
}

.navigation-list{
    display: flex;
    gap: 50px;
    padding-left: 94px;
    flex-grow: 1;
    align-items: center;
}

.right-navigation-list{
    display: flex;
    gap: 40px;
    align-items: center;
}

.main-section-project{
    display: flex;
    justify-content: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-list{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-around;
    margin: 0px 327px;
    padding-bottom: 50px;
}
.link-button{
    padding: 6px 22px;
}

/* PortolioSection*/
.project-list-container{
    display: flex;
}

.projects-list li:hover {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;

}

.projects-list li h3{
    margin: 20px 24px 0px 24px;
}

.projects-list li p{
    margin: 4px 24px 20px 24px;
}
    
.projects-list li {        
    display: flex;
    flex-direction: column;
    }

.border-line {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding-top: 0
}



.footer-section {
    display: flex;
    justify-content: center;
}

.footer-container {
   display: flex;
    justify-content: left;
    align-items: center;}

.addres-list {
    display: flex;
    gap: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
#link-style-address{color:#EEEEEE;}

/* HOMEWORK 4 */


.envelope,
.phone {
  fill: gray;
  margin-right: 6px;
}

.envelope:hover,
.envelope:focus,
.phone:hover,
.phone.focus {
  fill: #2196F3 ;
} 

.header-icon a svg:hover {
    fill: #2196F3;
}

.abilities-vector li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
}

.abilities-vector {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    gap: 30px;
}

.our-team-vectorial {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}

.team-vectorials {
    display: flex;
    align-items: center;
    width: 206px;
    justify-content: space-around;
    margin-top: 16px;
}

.team-vectorials li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;


}

.team-vectorials li a:hover {
    display: flex;
    fill: white;
    background: #2196F3;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.regular-customer-section {
    display: flex;
    justify-content: center;
}

.regular-customer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.customer-logo li {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-logo li a svg:hover{
    fill: #2196F3;
}

.customer-logo li:hover {
    border-color: #2196F3;
}

.regular-customer-container h2 {
    padding-bottom: 50px;
}

.customer-logo li a {
    fill: #AFB1B8;
}

.left-side-address {
    display: flex;
    flex-direction: column;
    
}

.footer-vectorial {
    display: flex;
    flex-direction: column;
        padding-left: 80px;
        padding-bottom: 38px;
}

.find-us-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer-vectoliar-pic {
    display: flex;
    gap: 10px;
}


.footer-vectoliar-pic li a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-vectoliar-pic li a:hover {
    width: 44px;
    height: 44px;
    background: #2196F3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta-color{
    fill: white;
}

/* HOMEWORK 5 */

.link-bottom-border{
    position: relative;
}

.link-bottom-border:hover{
    color: #2196F3;
}

.link-bottom-border:focus{
    color: #2196F3;
}

.link-bottom-border::after{
    content: '';
    border: 2px solid #2196F3;
    width: 100%;
    position: absolute;
    bottom: -32px;
    border-radius: 2px;
    visibility: visible;
    left: 0;

}

.what-we-do-photo li {
    position: relative;
}

.what-we-do-description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 4px;
}

.li-overlay {
    overflow: hidden;
    position: relative;
    height: 379px;
}

.card-overlay {
    height: 294px;
    width: 370px;
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms linear;
}

.overlay-text {
    padding-top: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.projects-list li:hover .card-overlay {
    transform: translateY(0px);
}

.border-line {
    z-index: 1;
}

.modal {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-div {
    position: absolute;
    width: 528px;
    height: 581px;
    transform: rotate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: right;
    padding-top: 8px;
    padding-right: 8px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.modal-close-button {
    fill: #000000;
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 9px 9px 10px 10px;
}

/* HOMEWORK 6 */

.newsletter {
    display: flex;
    align-items: flex-end;
    padding-left: 93px;
}

.newsletter-text {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    gap: 20px;
}

.footer-subscribe-button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    gap: 25px;
    padding-left: 43px;
}

.newsletter-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    margin-right: 12px;
    padding-left: 12px;
}

.modal-close-button {
    fill: #000000;
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 9px 9px 10px 10px;
    position: absolute;
    right: 8px;
    top: 8px;
}

.modal-close-button:hover {
    fill: #2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-form-style {
    display: flex;
    flex-direction: column;
    width: 448px;
    margin-top: 40px;
    margin-right: 36px;
}

.submit-button-style {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-left: 125px;
    margin-top: 20px;
}

.label-style {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;

}

.form-title-style {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.label-container {
    position: relative;
}

.modal-svg-icon {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    left: 12px;
}

.modal-input-style {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    line-height: 40px;
    padding-left: 27px;
    outline: none;
    cursor: pointer;
}

.label-container input:focus {
    border-color: #2196F3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-container input:focus+svg {
    fill: #2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-position {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.textarea-modal-style {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    outline: none;
    cursor: pointer;
}

.textarea-modal-style:focus {
    border-color: #2196F3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-box {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.replace-checkbox {
    width: 16px;
    height: 15px;
    border: 1px solid black;
    border-radius: 2px;
}

.modal-form-style input[type="checkbox"]:checked+.replace-checkbox {
    background: #2196F3;
    border-color: #2196F3;
}

.terms svg {
    position: static;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form-style input[type="checkbox"]:checked+.replace-checkbox svg {
    background: #2196F3;
    border-color: #2196F3;
    opacity: 1;
    fill: white;
}

.checkbox-hide {
    display: none;
}

.terms-blue-style {
    color: #2196F3;
}

.checkbox-text {
    padding-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}